<app-carousel></app-carousel>

<header *ngIf="authGuard.canActivate() == false" id="header" class="alt">
  <br>
  <h2>Do you want to hear the best artists?</h2>
  <br>
  <p>They are waiting for you now! Sign up here: </p>

    <a (click)="loginWithRedirect() " href="" class="button">Join</a>
    <a (click)="auth.logout(); logout() " href="" class="button">Log out</a>
</header>


<header *ngIf="authGuard.canActivate() == true" id="header" class="alt">
  <br>
  <h2>Welcome Again</h2>
  <p>Get your favorite albums now!</p>
  <br>
  <div>
    <a [routerLink]="['/albums']" class="btn btn-dark">Go to albums</a>
 </div>
</header>


